@font-face {
  font-family: "Space Grotesk";
  font-weight: 400; /* or 'normal' */
  font-style: normal;
  src: url("../fonts/space/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Space Grotesk";
  font-weight: 600; /* or 'bold' */
  font-style: normal;
  src: url("../fonts/space/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

body {
  font-family: "Space Grotesk", Arial, sans-serif;
  /* Use "Space Grotesk" as the primary font family, followed by fallback fonts */
}

.App {
  text-align: center;
  background-color: #f5f5f5; /* Set a light off-white background color */
  color: #888888; /* Set a soft grey text color */
}

.App-header {
  background-color: #f5f5f5; /* Set a light off-white background color for the header */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #888888; /* Set a soft grey text color for the header */
}

h1 {
  padding: 10px;
  background-color: #f5f5f5; /* Set a light off-white background color for the title */
  color: #888888; /* Set a soft grey text color for the title */
}

.fileInputLabel {
  background: transparent;
  color: #888888;
  border: 1px solid #888888;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.fileInputLabel:hover {
  background: linear-gradient(to right, #4b4dff, #ff4bdf);
  color: white;
  border: none;
}

button {
  background: transparent; /* Set transparent background */
  color: #888888; /* Set soft grey text color */
  border: 1px solid #888888; /* Set soft grey border */
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(to right, #4b4dff, #ff4bdf); /* Set gradient background on hover */
  color: white;
  border: none;
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link:hover {
  text-decoration: underline;
}

.roaster-table {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px; /* Reduce the text size */
}

table th,
table td {
  padding: 8px; /* Reduce the padding */
  border: 1px solid #888888;
}

table th {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: left;
}
